.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffead2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.45'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding: 60px;
    font-family: "Public Sans", sans-serif;
}

.backButtonContainer{
    margin-bottom: 50px;
}

.infoContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.infoContainer_img{
    width: 47%;
    box-shadow: 6px 5px 0px 0px rgba(0,0,0,0.75);
    border: 2px solid black;
}

.infoContainer_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.titleDetailContainer{
    width: 50%;
}

.detailContainer{
    border: 2px solid black;
    background-color: var(--white);
    box-shadow: 6px 5px 0px 0px rgba(0,0,0,0.75);
    margin-bottom: 30px;
}

.detailContainer_title{
    border-bottom: 2px solid black;
    padding: 5px;
}

.detailContainer_title h2{
    font-size: 2.3rem;
    font-weight: 800;
}

.detailContainer_detail{
    padding: 20px;
}

.detailContainer_detail p{
    font-size: 1.3rem;
    text-align: left;
}

.detailContainer_detail h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.detailContainer_detail_tech{
    margin-top: 20px;
}

.detailContainer_detail_tech ul{
    margin-top: 10px;
    list-style: none;
    display: flex;
}

.detailContainer_detail_tech ul li{
    margin-right: 20px;
    padding: 5px 10px;
    border: 1px solid black;
    font-weight: 800;
    background-color: rgb(255, 174, 68);
}

.detailButtons{
    padding: 5px 10px;
    font-weight: 600;
    font-size: 1rem;
    border: 2px solid black;
    background-color: white;
    box-shadow: 6px 5px 0px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.projectLinks{
    display: flex;
}

.projectLinks>.detailButtons:nth-child(2){
    margin-left: 20px;
}

.detailButtons a{
    text-decoration: none;
    color: black;
}

.detailButtons:hover{
    box-shadow: none;
    transform: translate(6px,5px);
}
