.skills{
    height: 100vh;
    width: 100%;
    padding: 30px 50px;
    background-color: var(--light-orange);
    font-family: 'Public Sans', sans-serif;
}

.skills_title{
    border-bottom: 2px solid black;
    font-size: 2.5rem;
}

.skills_title h2{
    font-weight: 900;
}

.skills_container{
    display: flex;
    margin-top: 30px;
    column-gap: 47px;
    row-gap: 30px;
    flex-wrap: wrap;
}