.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-orange);
  font-family: "Public Sans", sans-serif;
  padding: 40px;
}

.contactTitle {
  border-bottom: 2px solid black;
  font-size: 3rem;
  font-weight: 900;
}

.contactContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.contactForm {
  width: 45%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.832);
}

.inputField {
  position: relative;
  margin-bottom: 20px;
}

.errorContainer{
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: red;
}

.errorContainer p{
  margin-left: 5px;
}

.inputField label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 30%;
  transform: translateY(-50%);
  transition: 0.2s ease all;
  color: #000;
}

.inputField input {
  width: 100%;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  background-color: white;
  transition: border 0.2s ease;
}

.inputField input:focus+label,
.inputField input:valid+label{
  top: -2px;
  left: 10px;
  font-size: 1rem;
  padding: 5px;
  background-color: white;
}

.inputField input:not(:focus){
  border: 2px solid black;
}

.typeProjectContainer{
  display: flex;
  flex-direction: column;
}

.typeProjectContainer h4{
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.stackContainer{
  display: flex;
  justify-content: space-evenly;
}

.inputField input:focus {
  border: 2px solid orange; 
}

.textareaContainer{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.textareaContainer label{
  font-size: 1.1rem;
  font-weight: 700;
}

.textareaContainer textarea{
  margin-top: 10px;
  resize: none;
  font-family: "Public Sans", sans-serif;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.contactForm button{
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid black;
  font-weight: 700;
  box-shadow: 6px 4px 0px 0px rgba(0, 0, 0, 0.918);
  transition: .3s ease-in-out;
}

.contactForm button:hover{
  transform: translate(6px,4px);
  box-shadow: none;
}

.contactForm button:active{
  background-color: orange;
}

.heroImage{
  width: 60%;
  margin: 0 auto;
  justify-self: center;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: orange;
}

.heroImage img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(5px 5px 0px black);
  animation: moveUpDown 2s linear infinite;
}

.container_socialNetwork{
  width: 50%;
  align-self: flex-end;

}

.contactContainer h3{
  font-size: 2rem;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  text-align: right;
  overflow-x: hidden;
}

.socialNetwork{
  margin-top: 10px;
  width: 20%;
  display: flex;
  justify-content: space-around;
  font-size: 2.5rem;
}

.socialNetwork a{
  color: rgba(0, 0, 0, 0.938);
  transition: .3s ease-in-out;
}

.socialNetwork a:hover{
  transform: scale(1.2);
  color: orange;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
